<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1" align="center">
            <h3><strong>アーティストお気に入り一覧</strong></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <% @favorites.each do |favorite| %>
            <table class="table">
                <tr>
                    <th class="col-xs-2">
                        <%= attachment_image_tag favorite.artist,:image,size:"100x100",fallback: "no_image.jpg" %><br>
                    </th>
                    <td class="col-xs-6">
                        <h4 class="favorite-artist">
                            <%= favorite.artist.name %>
                        </h4>
                        <%= favorite.artist.explanation %>
                    </td>
                    <td class="col-xs-4" align="right">
                        <p class="favorite-artist-link">
                            <%= link_to "スケジュールを確認する", artist_events_path(favorite.artist_id) %>
                        </p>
                    </td>
                </tr>
            </table>
            <% end %>
        </div>
    </div>
</div>