<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1" align="center">
            <h3><strong>お気に入りミュージック一覧</strong></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <% if @myrecommends.empty?  %>
            <div class="searched">
                <h1>お気に入りのミュージックはまだありません。</h1>
            </div>
            <% end %>
            <% @myrecommends.each do |myrecommend| %>
            <table class="table myrecommend-table">
                <tr>
                    <th class="col-xs-6">
                        <p class="glyphicon glyphicon-user myrecommend-artist-name">
                            <%= myrecommend.recommend.artistname %>
                        </p><br>
                        <p class="glyphicon glyphicon-headphones myrecommend-song">
                            <%= myrecommend.recommend.song %>
                        </p>
                    </th>
                    <td class="col-xs-6" align="center">
                        <p class="to-comment">
                            <%= link_to "コメントページへ",artist_recommend_path(myrecommend.artist_id,myrecommend.recommend_id) %>
                        </p>
                    </td>
                </tr>
            </table>
            <% end %>
        </div>
    </div>
</div>