<div class="about-page-view">
    <div class="container">
        <p class="about-title" align="center"><strong>About Music Hub</strong></p>
        <p class="about-sub-title" align="center"><strong>音楽を通して人と人の繋がりを広げ、新しい音楽を知るきっかけを作る</strong></p>
        <div class="col-xs-12 about-item">
            <h2 align="center">
                サイト概要
            </h2>
            <p class="text-faded mb-0" align="center">アーティストのライブ情報やチケット発売日、新譜のリリース日などを共有することができます。<br>
                また、同じアーティスト好き同士で他に好きなアーティストや音楽の共有をする事ができます。</p>
        </div>
        <div class="col-xs-12 about-item">
            <h2 align="center">
                使い方
            </h2>
            <p class="text-faded mb-0" align="center">
                ・好きなアーティストを登録して、マイカレンダーでスケジュール管理をしよう！<br>・登録しているアーティストのイベントを他のユーザーにシェアすることができるよ！<br>
                ・もし、アーティストのイベント情報を見逃していても、アーティストカレンダーを確認すれば他のユーザーがシェアした<br>　イベントから情報をキャッチできるかも!?<br>
                ・登録しているアーティストページから『みんなのおすすめ』へアクセスすれば新しい音楽に出会えるかも！</p>
        </div>
        <div class="col-xs-12 about-item">
            </span>
            <h2 align="center">
                主な利用シーン
            </h2>
            <p class="text-faded mb-0" align="center">ライブ情報や新譜のリリース情報などを記録しておきたい時や新しい音楽を知りたいと思った時</p>
        </div>
    </div>
</div>