<div class="top-page-view">
    <div class="container">
        <div class="top-logo">
            <%= image_tag("logo-large.png") %>
            <h3><strong>好きなアーティストを探してスケジュールを確認しよう</strong></h3>
        </div>
        <div id="search-artist">
            <%= form_with( url: search_artists_path, class: 'search_form', method: :get, local:true) do |f| %>
            <%= f.text_field :search, class: 'artist-form', value: params[:search], placeholder: "アーティスト名を入力してEnter" %>
            <% end %>
        </div>
    </div>
</div>