<div class="top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-10">
                    <div class="row main">
                        <div class=" main-visual">
                            <div class="col-xs-12 main-visual-content">
                                <p class=" main-visual-text">
                                    <textarea name="">ここにアーティスト名入力して検索</textarea>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table">
                            <!-- オススメ商品は、販売状況が「販売中」の、登録が新しい順 -->
                            <p class="top-title">アーティスト名を入力してください</p>
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        <div class="top-more">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>