/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "tempusdominus-bootstrap-4.css";

.headerlogo{
	margin: 0px;
	object-fit: cover;
}

.topmenu{
	font-size: 20px;
}


/* ---------------------------- */
/* --- ハンバーガーアイコン --- */
/* ---------------------------- */
 
#hm-icon{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}
 
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
 
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
 
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
 
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
 
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
 
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
 
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
}
 
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
 
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #fff;
}
 
 
/* ------------------------ */
/* ------ spメニュー ------ */
/* ------------------------ */
 
 
#sp-menu {
  position: fixed;
  top: 0;
  right: 0;
  background: #000;
  color: #fff;
  width: 10%;
  min-height: 100%;
  display: none;
  z-index: 9;
  opacity: 75;
}

#sp-menu ul{
  margin-top: 100px;
}
 
#sp-menu li{
  text-align: center;
  margin-bottom: 30px;
}
 
#sp-menu a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}