// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artist-new{
	top: 20px;
	left: 150px
}

.artist-btn{
	margin-top: 20px;
	margin-bottom: 20px;
}

.artist-new-btn{
	margin-bottom: 20px;
}

.favorite-artist{
	font-size: 18px;
}

.artist-events-path{
	font-size: 18px;
}

.searched{
	margin-top: 150px;
}