// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artist-form{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 3px 10px;
  border-radius: 10px;
  height: 60px;
  width: 600px;
  overflow: hidden;
  text-align:center;
  font-size: 20px;
  margin: 0 auto;
}

.top-logo{
  text-align:center;
  margin-right:10px;
  margin-top:80px;
  margin-bottom:20px;
}
