// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_attachment_field {
    margin: 1em auto;
    width: 70% !important;

}

#image_select {
    display: none;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 50px 0;
}

.wrap {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

#tab-menu li {
    float: left;
    list-style-type: none;
    width: 25%;
}

#tab-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px;
    text-align: center;
    background: #000;
    border: 1px solid #000;
    border-bottom: none;
}

#tab-menu .active {
    background: #fff;
    color: #000;
}

#tab-contents .tab {
    padding: 30px;
    background: #fff;
    border: 1px solid #000;
    border-top: none;
}

#tab-contents p {
    color: #000;
    line-height: 2.5;
}