// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_attachment_field {
    margin: 1em auto;
    width: 70% !important;
}

.mypage-top{
  height: 20px;
}

.mypage-footer{
  height: 50px;
}

.mypage-myreco-artistname{
  margin-bottom: 10px;
}

.favorite-artist{
  font-size: 20px;
}

.favorite-music{
  font-size: 20px;
  margin-top: 10px;
}

#image_select {
    display: none;
}

.favorite-artist-link{
  font-size: 19px;
  margin-top: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 50px 0;
}

.myrecommend-song {
    font-size: 25px;
    margin-top: 5px;
}

.myrecommend-artist-name {
    font-size: 25px;
    margin-top: 15px;
}

.myrecommned-url{
    font-size: 25px;
    margin-top: 15px;
}

.to-comment{
    font-size: 20px;
    margin-top: 22px;

}

.myrecommend-table{
    margin-top: 10px;
}


.profile-edit {
    top: 15px;
}

.profile-introduction {
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile-button {
    margin-top: 20px;
    margin-bottom: 30px;
}

.profile-border {
    border-bottom-style: groove;
    border-bottom-width: medium;
    padding-bottom: 10px;
}


// オーバーレイ
.overlay {
  z-index: 9999;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.85);
}

// トリミング部の親要素
.overlay .crop_modal {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

// トリミング部を一部デフォルトからデザイン変更
.overlay .crop_modal .cropper-view-box {
  outline: none;
  border: solid 2px #C84289;
  border-radius: 5px;
}

// 閉じるボタンを擬似要素で作成
.overlay .close_btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 40px;
}
.overlay .close_btn:before {
  display: block;
  content: "";
  width: 1px;
  height: 36px;
  background-color: #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 8px;
  left: 25px;
}
.overlay .close_btn:after {
  display: block;
  content: "";
  width: 1px;
  height: 36px;
  background-color: #fff;
  transform: rotate(-45deg);
  position: absolute;
  top: 8px;
  left: 25px;
}

// トリミング決定ボタン
.overlay .select_icon_btn {
  letter-spacing: normal;
  width: 200px;
  height: 40px;
  line-height: 40px;
  background-color: #C84289;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  top: 530px;
  right: 0;
  left: 0;
  margin: 0 auto;
  cursor: pointer;
}