// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_attachment_field {
    margin: 1em auto;
    width: 70% !important;
    
}

#image_select {
    display: none;
}